* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #104fa8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.red {
    color: red;
}

.container {
    width: 100%;
    height: auto;
}

.container .header {
    height: 60px;
}

.mr35 {
    margin-right: 35px; 
}


.nav {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 8px #9f9f9f;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    font-size: 24px;
    margin: 0 40px;
    text-align: center;
}

.nav-item:hover {
    cursor: pointer;
    background: rgb(255 153 153);
    color: white;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    color: rgb(24, 24, 24);
    line-height: 60px;
    min-width: 140px;
    font-weight: 600;
}

.nav i {
    font-size: 30px;
    cursor: pointer;
    width: 80px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: rgb(24, 24, 24);
}

.nav i:hover {
    background-color: #f44336;
    color: white;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    cursor: pointer;
    color: rgb(68, 68, 68);
}

.next {
    right: 0;
    margin-right: 20px;
}

.prev {
    left: 0;
    margin-left: 20px;
}

.form-ticket,
.content .info {
    text-align: center;
    margin: 50px 0;
}

.form-ticket {
    padding: 60px 0 20px;
    box-shadow: 0 0 8px #CCD;
    margin: 50px 0 0;
}



.tickets-header,
.form-ticket__header,
.info-header {
    padding-top: 20px;
    margin-bottom: 80px;
    letter-spacing: 2px;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    font-weight: 700;
}

.form-ticket__header {
    color: var(--blue);
}

.info-content {
    display: flex;
    justify-content: space-around;
}

.info-content>* {
    width: 44%;
}

.info-content img {
    width: 80%;
    border-radius: 30px;
}

.info-content .text {
    line-height: 1.6;
    text-align: justify;
    font-size: 20px;
    margin-left: 40px;
    color: rgb(24, 24, 24);
}

.tickets {
    min-height: 600px;
    text-align: center;
    padding: 1px 0 60px;
    background-color: #ffefef;
}

.tickets>h1 {
    margin: 20px 0;
}

.form-ticket__input {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-ticket__input input {
    height: 40px;
    font-size: 15px;
    padding: 18px;
    width: 400px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

.form-ticket__input p {
    color: rgb(24, 24, 24);
    margin: 0 0 14px 0;
    font-size: 16px;
}

.form-ticket__button {
    text-align: right;
    margin: 30px 206px 0 0;
}

.bill_submit {
    margin: 10px 0;
}

.bill_submit,
.form-ticket__button input {
    padding: 12px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}

.bill_submit:hover ,
.form-ticket__button input:hover {
    color: #fff;
    background-color: #4189e0;
}

.info-link {
    margin: 20px 0;
    display: flex;
}

.info-link a {
    color: #1b09f0;
    opacity: 0.8;
}

.info-link a:hover {
    opacity: 1;
}

.info-link:first-child p {
    margin-left: 14px;
}

.info-link p {
    margin-left: 10px;
    font-weight: 500;
}

.footer {
    width: 100%;
    background-color: #f8f6f6;
}

.body-footer {
    width: 1145px;
    height: auto;
    margin: 0 auto;
    background-color: #f8f6f6;
    display: flex;
    justify-content: space-between;
}


.footer__list,
.footer__info {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(24, 24, 24);
}

.footer-name {
    letter-spacing: 1px;
}

.footer-list a {
    font-weight: 400;
    color: #888887;
    text-decoration: none;
}

li.footer-list-item {
    margin: 20px 0;
}

ul.footer-list {
    color: #888887;
}

/* Tickets */

.tickets-form p {
    margin-bottom: 8px;
    color: rgb(24, 24, 24);
}

.tickets-content .box p:last-of-type {
    margin: 20px 0 8px;
}


.tickets-form {
    width: 1145px;
    margin: 70px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.tickets-form select {
    width: 100%;
    background-color: #fff;
}

.tickets-form .box {
    display: flex;
    align-items: center;
    flex: 1;
}

.tickets-form .box label {
    margin-right: 10px;
}

.box input {
    width: 80%;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-style: italic;
    color: #757575;
    box-shadow: 0 0 1px #ccc;
}


.tickets-form .box3 {
    width: 15%;
}

.tickets-form .box4 {
    width: 10%;
}

.box4 input {
    width: 50%;
}

select {
    padding: 7.48px;
    background-color: #ffdea5;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #ccc;
}

.btn-search {
    padding: 8px 34px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-search:hover {
    cursor: pointer;
    background-color: #ffdea5;
}

.row-item {
    width: 1145px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.row-item:first-child {
    margin-bottom: 50px;
}

.item {
    width: 23%;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #ccc;
}

.item img {
    width: 260px;
    height: 200px;
    object-fit: cover;
}

.item img:hover {
    opacity: 0.9;
}

h3 {
    margin: 8px 0;
    text-align: left;
    line-height: 1.4;
    color: rgb(24, 24, 24);
}

.item-text {
    padding: 10px 12px;
}

.date {
    text-align: left;
    color: #7c7c7c;
}


.btn-buy {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 40px auto 20px;
    background-color: #0d305c;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    opacity: 0.9;
    border: none;
    text-decoration: none;
}

.btn-buy:hover {
    cursor: pointer;
    opacity: 1;
}

/* Index2 */
.content2 {
    width: 100%;
    background-color: #f4f7fbef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.form-register2 {
    width: 80%;
    min-height: 90%;
    background-color: white;
}

.form-register2 h2 {
    text-align: center;
}

.o-input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 55px;
    display: block;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    text-indent: 0;
    margin: 20px 0 10px 0;
    outline-color: #3b96ff;
}

.form-login {
    max-width: 480px;
    margin: 0 auto;
    background: #fff;
    padding: 40px 30px;
}

.row-input {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.row-input i {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    left: 20px;
}

.form-login-btn {
    height: 50px;
    line-height: 50px;
    background: #fb7604;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    text-align: center;
    border-radius: 6px;
    margin: 15px 0;
    width: 100%;
}

.form-login-btn:hover {
    cursor: pointer;
    background-color: #3b96ff;
}

.bill,
.formdatve-content {
    width: 1000px;
    height: auto;
    margin: 50px auto;
    box-shadow: 0 0 2px #ccc;
    padding: 10px;
}

.formdatve-content .ticket {
    display: flex;
    width: 100%;
    height: 150px;
    box-shadow: 0 0 8px #ccc;
    margin: 0px auto;
}

.formdatve-content .img {
    width: 30%;
    height: 150px;
}

.formdatve-content .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formdatve-content .info {
    width: 70%;
    padding: 10px;
}

.formdatve-content .row {
    display: flex;
    gap: 30px;
    margin: 10px;

}

.formdatve-content .info .row:last-child {
    border-top: 1px solid;
    margin-top: 14px;
    justify-content: space-between;
    line-height: 38px;
}

.formdatve-content .price {
    font-weight: bold;
}

.form-ticket__input-item select {
    font-size: 15px;
    padding: 11px;
    width: 400px;
    background-color: #fff;
}

.form-ticket__select-slot {
    margin: 30px 0;
}

.form-ticket__slot-tg,
.form-ticket__slot-pt {
    width: 55%;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.form-ticket__slot-tg input[type="radio"],
.form-ticket__slot-pt input[type="radio"] {
    display: none;
}

.form-ticket__slot-tg label,
.form-ticket__slot-pt label {
    position: relative;
    color: #4189e0;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 3px solid #4189e0;
    padding: 10px 20px;
    border-radius: 0.5em;
    width: 100px;
}


/* .form-ticket__slot-tg input[type="radio"]:not([trang_thai]):disabled+label,
.form-ticket__slot-pt input[type="radio"]:not([trang_thai]):disabled+label {
    opacity: 0.5;
    pointer-events: none;
    border: 3px solid #f0f0f0;
    background-color: red;
    color: #fff;    
}

.form-ticket__slot-tg input[type="radio"]:not([trang_thai]):disabled+label::before,
.form-ticket__slot-pt input[type="radio"]:not([trang_thai]):disabled+label::before {
    border-color: #f0f0f0;
    background-color: red;
} */

.form-ticket__slot-tg label::before,
.form-ticket__slot-pt label:before {
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid #4189e0;
    border-radius: 50%;
}

.form-ticket__slot-tg input[type="radio"]:checked+label:before,
.form-ticket__slot-pt input[type="radio"]:checked+label:before {
    height: 20px;
    width: 20px;
    border: 3px solid #fff;
    background-color: #4189e0;
}

.form-ticket__slot-tg input[type="radio"]:checked+label,
.form-ticket__slot-pt input[type="radio"]:checked+label {
    background-color: #4189e0;
    color: #ffffff;
}

.form-ticket__slot-tg input[type="radio"]:disabled+label,
.form-ticket__slot-pt input[type="radio"]:disabled+label {
    opacity: 0.5 !important;
    pointer-events: none;
    border: 3px solid #ccc;
    background-color: #f0f0f0;
    color: #888;
}


.form-ticket__slot-tg input[type="radio"]:disabled+label::before,
.form-ticket__slot-pt input[type="radio"]:disabled+label::before {
    border-color: #ccc;
    background-color: #f0f0f0;
}


.tittle-slot {
    margin: 20px 0;
}

.bill {
    width: 900px;
    box-shadow: 0 0 8px #ccc;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}


.bill__title {
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
}

.bill .info {
    text-align: center;
    color: #383838;
}

.bill .row {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.bill .row:last-child {
    border: none;
}

.bill .from,
.bill .to {
    margin: 0 10px;
}


.bill__header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

/* CSS chọn ghế */

.ticket-form {
    padding: 40px !important;
    border-radius: 10px;
    background-color: #fff;
}

.ticket-form fieldset {
    width: 180px;
    margin: 0 auto;
    padding: 10px;
    border-color: rgb(175 175 255);
    border-radius: 10px;
}

.ticket-form fieldset legend {
    color: var(--blue);
    padding-bottom: 8px;
    text-transform: uppercase;
}

.ticket-form fieldset .radio-block {
    position: relative;
    display: flex;
    min-width: 280px;
    border: dashed var(--blue) 1px;
    border-radius: 20px;
    background-color: #f7f5f3;
    margin-top: 10px;
}

.ticket-form fieldset .selected {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    border-radius: 20px;
    transition: transform 0.2s;
    background-color: var(--blue);
}

.ticket-form fieldset label {
    position: relative;
    z-index: 100;
    width: 50%;
    padding: 18px !important;
    transition: color 0.2s;
    text-align: center;
    cursor: pointer;
}

.ticket-form fieldset input[type="radio"]:checked+label {
    color: #fff;
}

.ticket-form fieldset input[type="radio"]:checked+.off-label+.selected {
    transform: translateX(100%);
}


.ticket-form input[type="radio"] {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    border: 0 !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
}

.bill--success {
    width: 700px;
    height: 450px;
    margin: 50px auto;
    box-shadow: 0 0 8px #ccc;
    text-align: center;
}

.bill--success h3 {
    text-align: center;
}

.bill--success .row {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill--success .row:last-child {
    height: 250px;
}

.bill--success .row:first-child {
    background: #34A853;
    color: #fff;
    
}

.bill--success .row i {
    font-size: 70px;
}

.bill--success h3 {
    margin: 20px 0;
}

.bill--success .row a {
    display: block;
    background-color: #0d305c;
    width: 168px;
    height: 40px;
    border-radius: 999px;
    color: #fff;
    text-decoration: none;
    line-height: 38px;
}

#gia_ve {
    font-size: 20px;
    color: red;
    font-style: italic;
}