<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách loại hàng</title>
    <link rel="stylesheet" href="../../css/admin.css">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Admin</h1>
        </div>
        <div class="menu">
            <ul class="">
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Địa điểm</a></li>
                <li><a href="">Chuyến bay</a></li>
                <li><a href="">Chỗ ngồi</a></li>
                <li><a href="">Vé máy bay</a></li>
                <li><a href="">Khách hàng</a></li>
                <li><a href="">Thống kê</a></li>
            </ul>
        </div>

    </div>
</body>

</html>